.grid-container {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}
.header{
  display: flex;
  justify-content: space-between;
}
h1{
  padding-left: 20px;
}
.product-card {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(147, 194, 194);
}
button  {
  padding:5px;
  border-radius: 5px;
  font-size: 15px;
}
.delete{
  background-color:  rgb(228, 34, 34);
}
.update{
  background-color: orange;
}
.search{
  background-color:rgb(55, 131, 247) ;
  padding: 12px;
  padding-right: 15px;
}
#searchInput{
  padding: 10px;
  width: 250px;
  font-size: 18px;
}
.input{
  padding-top: 25px;
  padding-right: 20px;
}
/*media query mobile*/
@media screen and (max-width:768px) {
   .delete{
       position: relative;
       right:10px; 
   }
   .update{
    position: relative;
       right:30px;
   }
   .product-card{
    width:320px;
   }
   .grid-container{
    grid-template-columns: repeat(2, minmax(220px, 1fr));
   }
}
/*media query laptop*/
@media (min-width:769px) and (max-width:1024px) {
   .delete{
       position: relative;
       right:10px; 
       bottom: px;
   }
   .update{
    position: relative;
       right:60px;
   }
   .grid-container{
    grid-template-columns: repeat(3, minmax(220px, 1fr));
   }
}